" ideavim

""" Map leader to space ---------------------
let mapleader=" "

set showmode
set so=5
set incsearch
set nu

""" Plugins  --------------------------------
set commentary

""" Plugin settings -------------------------
" let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set history=1000
set hlsearch
set hlsearch
set ignorecase smartcase
set incsearch
set noerrorbells
set number
set relativenumber
set scrolloff=5
set showmode
set smartcase
set so=5
set visualbell
set clipboard+=unnamed

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

" Quick window navigation
map <C-J> <C-W>j
map <C-K> <C-W>k
map <C-L> <C-W>l
map <C-H> <C-W>h

" line up/down
map <A-k> <Action>(MoveLineUp)
map <A-j> <Action>(MoveLineDown)

nmap sv <Action>(SplitVertically)
nmap <leader>fb <Action>(Switcher)
nmap <leader><leader> <c-S-6>
nmap <Leader>fs <Action>(GotoSymbol)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fo <Action>(RecentFiles)
nmap <Leader>fg <Action>(FindInPath)
nmap <leader>fa <Action>(GotoAction)
nmap gr <Action>(RenameElement)
nmap gf <Action>(ShowUsages)
nmap ga <A-cr>
nmap gr <M-cr> <Action>(Refactorings.QuickListPopupAction)
nmap <leader>z <Action>(ToggleDistractionFreeMode)
nmap <leader>t <Action>(ActivateTerminalToolWindow)

nmap <leader>s <Action>(SelectInProjectView)
nmap <leader>a <Action>(Annotate)
nmap <leader>h <Action>(Vcs.ShowTabbedFileHistory)
nmap <leader e> <Action>(GotoNextError)

nmap <leader>b <Action>(ToggleLineBreakpoint)
nmap <leader>o <Action>(FileStructurePopup)

