[user]
	email = pgherveou@gmail.com
	name = pgherveou
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJvHp3k6DU+VAMibStgQSHdMkVwcZ9dKq2R0XjOK2OnL
[commit]
	gpgsign = true
[rerere]
	enabled = true
[pull]
	rebase = true
[advice]
	skippedCherryPicks = false
[branch "main"]
	pushRemote = NOPE
[branch "master"]
	pushRemote = NOPE
[pile]
	cleanupRemoteOnSubmitFailure = true
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
	tool = fugitive
[rebase]
	autosquash = true
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.gitignore
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
# avoid issues with cargo-edit
[url "https://github.com/rust-lang/crates.io-index"]
	insteadOf = https://github.com/rust-lang/crates.io-index
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[alias]
	hd = rev-parse --verify HEAD
	prune-merged = !git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d
	prune-merged-remote = !git remote prune origin && git fetch origin --prune && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D
[push]
	autoSetupRemote = true
