nvim/.config/nvim/plugged
nvim/.config/nvim/plugin/packer_compiled.lua
.ccls-cache
compile_commands.json
*.bac
.cache
qmk/.cache
.DS_Store
alfred/Alfred.alfredpreferences/workflows
packer_compiled.lua
